:root {
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

body {
  margin: 0;
  background: #f7f8fa;
  color: #323233;
}

#app {
  max-width: 750px;
  margin: 0 auto;
  min-height: 100vh;
}
